{% extends "base.html" %}

{% block content %}

  <div id="chartID" class="span12">
    {{ plot_config.title.text }} chart goes here.
  </div>

{% endblock %}   

{% block bootstrap_js_bottom %}
  {{ super() }}
  <script type=text/javascript src="{{ url_for('static', filename='./highcharts/js/highcharts.js') }}"></script>

<!-- Setup plot parameters -->
  <script>
    var pkt_name = {{ plot_config.pkt_name|tojson|safe }}
    var chart_id = "#chartID";
    var chartOpts = {{ plot_config.chartOpts|tojson|safe }}
    var series = {{ plot_config.series|tojson|safe }}
    var title = {{ plot_config.title|tojson|safe }}
    var xAxis = "TBD"
    var yAxis = "TBD"
    var chart = {{ plot_config.chartOpts|tojson|safe }}
    var numPoints = {{ plot_config.numPoints|safe }}
    var interval = {{ plot_config.interval|safe }}
  </script>

<!-- Kick off the charting script -->
  <script type=text/javascript src="{{ url_for('static', filename='chart_live.js') }}"></script>

{% endblock %}
