{% extends "base.html" %}

{% block content %}

<h4> {{schema.name}}: </h4>
  
  
  <form class="form form-horizontal" method="post">

    {% for f in schema.fields %}

      {% if f.name=='__padding' %}
        {% continue %}
      {% endif %}

    {% if 'array' in f %}
    {% for elem in range(f['array']) %}
    <div class="control-group">
      <label class="control-label"><code>{{f.type}} {{f.name}}[{{elem}}]</code></label>
      <div class="controls">
	{% if 'enum' in f %}
 	<select name="{{f.name}},{{elem}}">
	  {% for e in f['enum']|sort%}
 	  <option value="{{e}}" {% if e==f.default|string %}selected="selected"{% endif %}>{{e}} - {{f['enum'][e]}}</option>
	  {% endfor %}
	</select>
	{% else %}
	<input type="text" name="{{f.name}},{{elem}}" value="{{f.default}}">
	{% endif %}
	<span class="help-inline">{{f.description}}</span>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="control-group">
      <label class="control-label"><code>{{f.type}} {{f.name}}</code></label>
      <div class="controls">
	{% if 'enum' in f %}
	<select name="{{f.name}}">
	  {% for e in f['enum']|sort%}
 	  <option value="{{e}}" {% if e==f.default|string %}selected="selected"{% endif %}>{{e}} - {{f['enum'][e]}}</option>
	  {% endfor %}
	</select>
	{% else %}
	<input type="text" name="{{f.name}}" value="{{f.default}}">
	{% endif %}
	<span class="help-inline">{{f.description}}</span>
      </div>
    </div>
    {% endif %}

    {% endfor %}

    <div class="control-group">
      <div class="controls">
	<button type="submit" class="btn">Send</button>
      </div>
    </div>
  </form>

{{fields}}


{% endblock %}   
