{% extends "base.html" %}

{% block content %}

  <h4> Available commands: </h4>

  <ul>
    {% for c in cmds | sort %}
    <li> <a href="cmd/{{c}}">{{ c }}</a>
    {% endfor %}
  </ul>

{% endblock %}   
