{% extends "base.html" %}

{% block content %}

  <h3> Link Statistics: </h3>

  <h4> Deframer: </h4>
  <ul>
    {% for f in dfs %}
    <li> {{ f }} = {{ dfs[f] }}</a>
    {% endfor %}
  </ul>

  <h4> Framer: </h4>
  <ul>
    {% for f in fs %}
    <li> {{ f }} = {{ fs[f] }}</a>
    {% endfor %}
  </ul>

{% endblock %}   
