{% extends "base.html" %}

{% block content %}
<style>
 <!-- table { table-layout: fixed; } -->
 <!-- table th, table td { overflow: hidden; } -->
</style>


  <h4> Science Log Files: </h4>

  <table class="table table-condensed table-striped">
    <tr>
      <!-- <th style="width: 20%">Field</th> -->
      <!-- <th style="width: 80%">Value</th> -->
      <th>Name</th>
      <th>Size</th>
      <th>Download</th>
    </tr>
    {% for r in data|sort|reverse %}
    <tr>
      <td>{{ r[0] }}</td>
      <td>{{ r[1] }}</td>
      <td><a href="logs/science/{{ r[0] }}">Raw</a>, <a href="rinex/{{ r[0] }}">RINEX</a></td>
    </tr>
    {% endfor %}
  </table>


  <div class='row'>
  </div>

{% endblock %}   

