{% extends "base.html" %}

{% block content %}
<style>
 <!-- table { table-layout: fixed; } -->
 <!-- table th, table td { overflow: hidden; } -->
</style>


  <h4> Current Config: </h4>

  <table class="table table-condensed table-striped">
    <tr>
      <!-- <th style="width: 20%">Field</th> -->
      <!-- <th style="width: 80%">Value</th> -->
      <th>Field</th>
      <th>Value</th>
    </tr>
    {% for field in config|sort %}
    <tr>
      <td>{{ field }}</td>
      <td>{{ config[field]|safe }}</td>
    </tr>
    {% endfor %}
  </table>


  <div class='row'>
  </div>

{% endblock %}   

