<p class="navbar-text pull-right">RX: <span class="label">{% if dfs %}{{dfs.PKT_COUNT_LONG}}{% else %}-{% endif %}</span></p>
<p class="navbar-text pull-right span1">TX:<span class="label">{% if fs %}{{fs.PACKETS_SENT}}{% else %}-{% endif %}</span></p>
{% if dfs %}{% if dfs.ERR_CRC_BAD > 0 %}<p class="navbar-text pull-right">Bad CRC:<span class="label label-important">{{dfs.ERR_CRC_BAD}}</span></p>{% endif %}{% endif %}

