{% extends "base.html" %}

{% block content %}

    <div class='row'>
    <div class='span10'>
      <h4>Recent history for {{ name }} messages: </h4>  
    </div>
    <div class='span2'>
      <div class="btn-toolbar text-right">
	<div class="btn-group">
	  <a href="10"><button class="btn btn-mini " type="button">Last 10</button></a>
	  <a href="50"><button class="btn btn-mini " type="button">50</button></a>
	  <a href="100"><button class="btn btn-mini " type="button">100</button></a>
	</div>
      </div>
    </div>
  </div>

  Note: Most recent messages are towards the top of the page.
  <p>
  <p>
  {% for pkt in pktlist|reverse %}
  <style>
    table { table-layout: fixed; }
    table th, table td { overflow: hidden; }
  </style>
  <small>Message {{ loop.index0 }}, received {{ pkt['utc'] }}</small>
  <table class="table table-condensed table-striped">
    <tr>
      {% if pkt['values_formatted']|length %}
      <th style="width: 20%">Field</th>
      <th style="width: 40%">Raw Values</th>
      <th style="width: 40%">Formatted Values</th>    
      {% else %}
      <th style="width: 20%">Field</th>
      <th style="width: 80%">Raw Values</th>
      {% endif %}
    </tr>
    {% for field in pkt['values']|sort %}
    <tr>
      <td>{{ field }}</td>
      <td>{{ pkt['values'][field]|safe }}</td>
      {% if pkt['values_formatted']|length %}
      <td>{{ pkt['values_formatted'][field]|safe }}</td>
      {% endif %}
    </tr>
    {% endfor %}
  </table>

  {% endfor %}

{% endblock %}   

{% block bootstrap_js_bottom %}
  {{super()}}
{% endblock %}
